name: Upload recipes.json to s3
on:
  push:
    branches:
      - master

jobs:
  build:
    name: Upload recipes.json to S3
    # This job runs on Linux
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js
        uses: actions/setup-node@v1
        with:
          node-version: "12.x"
      - name: Install dependencies
        run: yarn --frozen-lockfile
      - name: Generate recipes.json
        shell: bash
        run: ./tools/dump_recipes.js > recipes.json
      - name: Upload recipes.json to S3 bucket
        uses: jakejarvis/s3-sync-action@v0.5.1
        with:
          args: --acl public-read --follow-symlinks --delete
        env:
          AWS_REGION: us-west-1
          AWS_S3_BUCKET: markl42
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          SOURCE_DIR: recipes.json

